@charset "UTF-8";
/******************************************************************
Site Name: Department or Center Name
Author(s): Lucian Tucker

Stylesheet: Main Stylesheet
******************************************************************/
/* ==========================================================================
	Normalize v8.0.0 | MIT License
	========================================================================== */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.gform_validation_container, .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

article p a[href*="//"]:not([href*=ucla]), article h1 a[href*="//"]:not([href*=ucla]), article h2 a[href*="//"]:not([href*=ucla]), article h3 a[href*="//"]:not([href*=ucla]), article h4 a[href*="//"]:not([href*=ucla]), article h5 a[href*="//"]:not([href*=ucla]), article h6 a[href*="//"]:not([href*=ucla]) {
  margin-right: 3px;
  display: inline-block;
}
article p a[href*="//"]:not([href*=ucla]):after, article h1 a[href*="//"]:not([href*=ucla]):after, article h2 a[href*="//"]:not([href*=ucla]):after, article h3 a[href*="//"]:not([href*=ucla]):after, article h4 a[href*="//"]:not([href*=ucla]):after, article h5 a[href*="//"]:not([href*=ucla]):after, article h6 a[href*="//"]:not([href*=ucla]):after {
  font-family: "Font Awesome 5 Free";
  content: " ";
  font-size: 0.6em;
  display: inline-block;
  margin-left: 5px;
}

article p a[href*="//"]:not([href*=ucla]).hide-external, article h1 a[href*="//"]:not([href*=ucla]).hide-external, article h2 a[href*="//"]:not([href*=ucla]).hide-external, article h3 a[href*="//"]:not([href*=ucla]).hide-external, article h4 a[href*="//"]:not([href*=ucla]).hide-external, article h5 a[href*="//"]:not([href*=ucla]).hide-external, article h6 a[href*="//"]:not([href*=ucla]).hide-external {
  background-image: none;
  padding-right: 0;
  margin-right: 0;
}

.post-type-archive-books .book-list li:after, .home .col li:after, .content:after, header:after {
  content: "";
  display: table;
  clear: both;
}

/*	Fonts
/*--------------------------------------*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-thin-webfont.eot");
  src: url("../fonts/proximanova-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-thin-webfont.woff") format("woff"), url("../fonts/proximanova-thin-webfont.ttf") format("truetype"), url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg");
  font-weight: 100;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semiboldit-webfont.eot");
  src: url("../fonts/proximanova-semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semiboldit-webfont.woff") format("woff"), url("../fonts/proximanova-semiboldit-webfont.ttf") format("truetype"), url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
  }
}
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-xbold-webfont.eot");
  src: url("../fonts/proximanova-xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-xbold-webfont.woff") format("woff"), url("../fonts/proximanova-xbold-webfont.ttf") format("truetype"), url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
  font-weight: 900;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
  }
}
/* ==========================================================================
	Typography
	========================================================================== */
body {
  color: rgba(0, 0, 0, 0.87);
  font: 15px/25px Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px transparent;
}

/*	Headers
/*--------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  clear: both;
  margin: 0;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 1.1em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h3 {
  font-size: 2em;
  line-height: 1.2em;
}

h4 {
  font-size: 1.75em;
  line-height: 1.2em;
}

h5 {
  font-size: 1.5em;
  line-height: 1.3em;
}

h6 {
  font-size: 1.2em;
  line-height: 1.8em;
}

/* Custom Headers */
.page h2, .page h3, .page h4, .page h5, .page h6, .archive h2, .archive h3, .archive h4, .archive h5, .archive h6, .single h2, .single h3, .single h4, .single h5, .single h6, .search-results h2, .search-results h3, .search-results h4, .search-results h5, .search-results h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
  margin-top: 0;
}
.home h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.4em;
  margin-bottom: 20px;
}
.home h4 {
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 1.5em;
}

h1.search-title {
  margin-bottom: 40px;
}

h1.page-title {
  margin-bottom: 20px;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1em;
}

h2.filter-title {
  color: rgba(255, 255, 255, 0.98);
  background-color: #347bad;
  padding: 10px 0;
  font-size: 2em;
}

h2.subtitle {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 400;
  font-style: italic;
}

nav h3, .side h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.filter h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
}

/*	Text Elements
/*--------------------------------------*/
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

hr {
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
  border: none;
  margin: 30px 0;
}

p {
  margin: 1.5em 0;
}

h1 + p, h1 + ul, h1 + ol, h1 + dl, h2 + p, h2 + ul, h2 + ol, h2 + dl, h3 + p, h3 + ul, h3 + ol, h3 + dl, h4 + p, h4 + ul, h4 + ol, h4 + dl, h5 + p, h5 + ul, h5 + ol, h5 + dl, h6 + p, h6 + ul, h6 + ol, h6 + dl {
  margin-top: 5px;
}

ul, ol {
  padding: 0;
}

li {
  margin: 0 0 0 13px;
  padding-left: 0;
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

cite {
  font-style: italic;
}

blockquote {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 1px 40px 1px 22px;
  margin: 30px 0;
  border-left: 10px solid #347bad;
}
blockquote p {
  margin: 1em 0;
}

figcaption {
  font-style: italic;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 0 25px 0;
  font-weight: normal;
}

/*	Links
/*--------------------------------------*/
a:link, .col a h4 {
  text-decoration: underline;
  color: #0277bd;
  font-weight: 600;
  -webkit-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}

.col a h4 {
  font-weight: 600;
}

a:hover, a:focus, a:active,
.col a h4:hover, .col a h4:focus, .col a h4:active {
  color: #014771;
}

.col a:visited, .main a:visited {
  color: #014771;
}

.col .current-menu-item > a {
  color: rgba(0, 0, 0, 0.87);
}

.main-nav a:link, .footer-nav a:link, a.btn, .people-list a {
  text-decoration: none;
}

article p a[href*="//"]:not([href*=ucla]).btn, article h1 a[href*="//"]:not([href*=ucla]).btn, article h2 a[href*="//"]:not([href*=ucla]).btn, article h3 a[href*="//"]:not([href*=ucla]).btn, article h4 a[href*="//"]:not([href*=ucla]).btn, article h5 a[href*="//"]:not([href*=ucla]).btn, article h6 a[href*="//"]:not([href*=ucla]).btn {
  background-image: none;
}
/*	Accessibility
/*--------------------------------------*/
.skip {
  float: left;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/*	Button Styles
/*--------------------------------------*/
header .btn, header button, header input[type=submit], header a.btn, article .btn, article button, article input[type=submit], article a.btn, .col .btn, .col button, .col input[type=submit] {
  background: #469ccf;
  color: white !important;
  padding: 3px 10px;
  font-weight: bold;
  letter-spacing: 0.05em;
  min-width: 90px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: none !important;
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
header .btn:hover, header button:hover, header input[type=submit]:hover, article .btn:hover, article button:hover, article input[type=submit]:hover, .col .btn:hover, .col button:hover, .col input[type=submit]:hover, header .btn:focus, header button:focus, header input[type=submit]:focus, article .btn:focus, article button:focus, article input[type=submit]:focus, .col .btn:focus, .col button:focus, .col input[type=submit]:focus {
  background: #0277bd;
  color: white;
}
header .btn:active, header button:active, header input[type=submit]:active, article .btn:active, article button:active, article input[type=submit]:active, .col .btn:active, .col button:active, .col input[type=submit]:active {
  top: 1px;
}

header input[type=submit], article input[type=submit], .col input[type=submit] {
  padding: 6px 10px;
}

.btn.give {
  margin: 0 auto;
  text-align: center;
  min-width: 80px;
  letter-spacing: 0;
}

.btn.outline {
  color: white;
  min-width: 90px;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.9);
  margin-top: 35px;
  padding: 7px 25px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
.btn.outline:hover, .btn.outline:focus {
  background: #0277bd;
  color: white;
}

.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  background-color: #469ccf !important;
  text-decoration: none !important;
  line-height: 1em !important;
  color: white !important;
  padding: 8px 20px !important;
  font-weight: bold !important;
  letter-spacing: 0.05em !important;
  min-width: 90px !important;
  display: inline-block !important;
  text-align: center !important;
  border: none !important;
  cursor: pointer !important;
  position: relative !important;
  border-radius: 15px !important;
  background-clip: padding-box !important;
  -o-transition: background-color 0.24s ease-in-out !important;
  transition: background-color 0.24s ease-in-out !important;
  -webkit-transition: background-color 0.24s ease-in-out !important;
}
.tribe-bar-submit .tribe-events-button:hover, .tribe-bar-submit .tribe-events-button:focus, .tribe-events-read-more:hover, .tribe-events-read-more:focus, .tribe-events-read-more:link:hover, .tribe-events-read-more:link:focus, .tribe-events-list-widget a.btn:hover, .tribe-events-list-widget a.btn:focus {
  background-color: #0277bd !important;
  color: white !important;
}
.tribe-bar-submit .tribe-events-button:active, .tribe-events-read-more:active, .tribe-events-read-more:link:active, .tribe-events-list-widget a.btn:active {
  top: 1px;
}

/*	Form Styles
/*--------------------------------------*/
fieldset {
  border: none;
  padding: 0;
}

label {
  font-weight: bold;
}

input + label, select + label {
  font-weight: normal;
}

form ul li ul li label {
  padding-left: 10px;
}

label span {
  color: #790000;
  margin-left: 5px;
}

input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=color],
select,
textarea,
.field {
  padding: 0 10px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  height: 35px;
  line-height: 2.5em;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
input[type=text]:focus, input[type=text]:active,
input[type=password]:focus,
input[type=password]:active,
input[type=datetime]:focus,
input[type=datetime]:active,
input[type=datetime-local]:focus,
input[type=datetime-local]:active,
input[type=date]:focus,
input[type=date]:active,
input[type=month]:focus,
input[type=month]:active,
input[type=time]:focus,
input[type=time]:active,
input[type=week]:focus,
input[type=week]:active,
input[type=number]:focus,
input[type=number]:active,
input[type=email]:focus,
input[type=email]:active,
input[type=url]:focus,
input[type=url]:active,
input[type=tel]:focus,
input[type=tel]:active,
input[type=color]:focus,
input[type=color]:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
.field:focus,
.field:active {
  background-color: white;
}
input[type=text].error, input[type=text].is-invalid,
input[type=password].error,
input[type=password].is-invalid,
input[type=datetime].error,
input[type=datetime].is-invalid,
input[type=datetime-local].error,
input[type=datetime-local].is-invalid,
input[type=date].error,
input[type=date].is-invalid,
input[type=month].error,
input[type=month].is-invalid,
input[type=time].error,
input[type=time].is-invalid,
input[type=week].error,
input[type=week].is-invalid,
input[type=number].error,
input[type=number].is-invalid,
input[type=email].error,
input[type=email].is-invalid,
input[type=url].error,
input[type=url].is-invalid,
input[type=tel].error,
input[type=tel].is-invalid,
input[type=color].error,
input[type=color].is-invalid,
select.error,
select.is-invalid,
textarea.error,
textarea.is-invalid,
.field.error,
.field.is-invalid {
  color: red;
  border-color: red;
  background-color: white;
  outline-color: red;
}
input[type=text].success, input[type=text].is-valid,
input[type=password].success,
input[type=password].is-valid,
input[type=datetime].success,
input[type=datetime].is-valid,
input[type=datetime-local].success,
input[type=datetime-local].is-valid,
input[type=date].success,
input[type=date].is-valid,
input[type=month].success,
input[type=month].is-valid,
input[type=time].success,
input[type=time].is-valid,
input[type=week].success,
input[type=week].is-valid,
input[type=number].success,
input[type=number].is-valid,
input[type=email].success,
input[type=email].is-valid,
input[type=url].success,
input[type=url].is-valid,
input[type=tel].success,
input[type=tel].is-valid,
input[type=color].success,
input[type=color].is-valid,
select.success,
select.is-valid,
textarea.success,
textarea.is-valid,
.field.success,
.field.is-valid {
  color: green;
  border-color: green;
  background-color: white;
  outline-color: green;
}
input[type=text][disabled], input[type=text].is-disabled,
input[type=password][disabled],
input[type=password].is-disabled,
input[type=datetime][disabled],
input[type=datetime].is-disabled,
input[type=datetime-local][disabled],
input[type=datetime-local].is-disabled,
input[type=date][disabled],
input[type=date].is-disabled,
input[type=month][disabled],
input[type=month].is-disabled,
input[type=time][disabled],
input[type=time].is-disabled,
input[type=week][disabled],
input[type=week].is-disabled,
input[type=number][disabled],
input[type=number].is-disabled,
input[type=email][disabled],
input[type=email].is-disabled,
input[type=url][disabled],
input[type=url].is-disabled,
input[type=tel][disabled],
input[type=tel].is-disabled,
input[type=color][disabled],
input[type=color].is-disabled,
select[disabled],
select.is-disabled,
textarea[disabled],
textarea.is-disabled,
.field[disabled],
.field.is-disabled {
  cursor: not-allowed;
  border-color: gray;
  opacity: 0.6;
}
input[type=text][disabled]:focus, input[type=text][disabled]:active, input[type=text].is-disabled:focus, input[type=text].is-disabled:active,
input[type=password][disabled]:focus,
input[type=password][disabled]:active,
input[type=password].is-disabled:focus,
input[type=password].is-disabled:active,
input[type=datetime][disabled]:focus,
input[type=datetime][disabled]:active,
input[type=datetime].is-disabled:focus,
input[type=datetime].is-disabled:active,
input[type=datetime-local][disabled]:focus,
input[type=datetime-local][disabled]:active,
input[type=datetime-local].is-disabled:focus,
input[type=datetime-local].is-disabled:active,
input[type=date][disabled]:focus,
input[type=date][disabled]:active,
input[type=date].is-disabled:focus,
input[type=date].is-disabled:active,
input[type=month][disabled]:focus,
input[type=month][disabled]:active,
input[type=month].is-disabled:focus,
input[type=month].is-disabled:active,
input[type=time][disabled]:focus,
input[type=time][disabled]:active,
input[type=time].is-disabled:focus,
input[type=time].is-disabled:active,
input[type=week][disabled]:focus,
input[type=week][disabled]:active,
input[type=week].is-disabled:focus,
input[type=week].is-disabled:active,
input[type=number][disabled]:focus,
input[type=number][disabled]:active,
input[type=number].is-disabled:focus,
input[type=number].is-disabled:active,
input[type=email][disabled]:focus,
input[type=email][disabled]:active,
input[type=email].is-disabled:focus,
input[type=email].is-disabled:active,
input[type=url][disabled]:focus,
input[type=url][disabled]:active,
input[type=url].is-disabled:focus,
input[type=url].is-disabled:active,
input[type=tel][disabled]:focus,
input[type=tel][disabled]:active,
input[type=tel].is-disabled:focus,
input[type=tel].is-disabled:active,
input[type=color][disabled]:focus,
input[type=color][disabled]:active,
input[type=color].is-disabled:focus,
input[type=color].is-disabled:active,
select[disabled]:focus,
select[disabled]:active,
select.is-disabled:focus,
select.is-disabled:active,
textarea[disabled]:focus,
textarea[disabled]:active,
textarea.is-disabled:focus,
textarea.is-disabled:active,
.field[disabled]:focus,
.field[disabled]:active,
.field.is-disabled:focus,
.field.is-disabled:active {
  background-color: blue;
}

input[type=password] {
  letter-spacing: 0.3em;
}

input[type=submit] {
  padding: 6px 10px;
  border: none;
}

select[multiple] {
  height: 120px;
}

.gform_wrapper input + label, .gform_wrapper select + label {
  display: inline-block;
  margin-bottom: 10px;
}

.search-form {
  position: relative;
}
.search-form .search-btn {
  position: absolute;
  padding: 5px;
  right: 5px;
  top: 30px;
  min-width: auto;
  background: none;
  font-size: 1.2em;
  color: #8e8e8e !important;
  border: none;
  cursor: pointer;
  -webkit-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}
.search-form .search-btn:hover {
  color: #666 !important;
}
.search-form .search-btn:active {
  top: 31px;
}

input[type=search] {
  width: 192px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-size: 0.85em;
  padding: 0 40px 0 10px;
  background: rgba(0, 0, 0, 0.03);
  font-weight: bold;
  margin-bottom: 10px;
  height: 30px;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
input[type=search]:focus {
  background-color: white;
}

textarea {
  width: 500px;
  max-width: 640px;
  min-height: 120px;
  line-height: 1.5em;
  padding: 10px;
}

select {
  width: 302px;
}

select[multiple=multiple] {
  height: 100px;
  padding: 10px;
}

form li {
  list-style: none;
  margin: 10px 0;
}

form ul li ul li {
  list-style: none;
  margin: 0;
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  font-size: 0.93em;
  letter-spacing: 0;
}

.validation_error {
  font-weight: bold;
  padding: 10px;
  border: 2px solid #790000;
  border-radius: 5px;
  text-align: center;
}

.validation_message {
  font-style: italic;
}

/* ==========================================================================
	Main Styles - Desktop

	Table of Contents

	1.  Main Containers
	2.  Header
	3.  Navigation
	4.  Footer
	5.  Homepage
	6.  Person Page
	7.  People Archive
	8.  Books
	9.  Courses
	10. Articles/Posts
	11. Other

	========================================================================== */
/*	1. Main Containers
/*--------------------------------------*/
body {
  background-color: white;
}

#container {
  width: 100%;
  overflow: auto;
  zoom: 1;
}

.content, header {
  width: 940px;
  margin: 0 auto;
}

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 400px;
  float: left;
  clear: both;
  margin: 0 0 13px 0;
}

.col {
  width: 640px;
  float: left;
}

.col + .col {
  width: 280px;
  margin: 10px 0 30px 20px;
}

.page-template-page-full .col {
  width: 100%;
}

/*	2. Header
/*--------------------------------------*/
header {
  padding: 35px 0 0 0;
}
header.top .dept-logo {
  width: 690px;
  display: inline-block;
  margin: 0;
  text-align: center;
}
header.top .dept-logo img {
  width: 581px;
  height: auto;
}
header.top h1.logo-text {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 3.2em;
  color: rgba(0, 0, 0, 0.87);
}
header .logos {
  float: left;
}
header nav {
  clear: both;
  float: left;
  padding: 30px 0 20px 0;
}
header nav ul {
  width: 730px;
}
header .search {
  float: right;
  clear: right;
  margin-top: 30px;
}
header .give-back {
  width: 130px;
  text-align: center;
  float: right;
  margin-top: 20px;
}
header .give-back span.support {
  font-size: 0.8em;
  display: block;
}
header .university-logo {
  float: left;
  margin-top: 20px;
  width: 119px;
  height: 38px;
}

.breadcrumbs {
  background-color: #0277bd;
  width: 100%;
  float: left;
  clear: both;
  color: rgba(255, 255, 255, 0.98);
  font-size: 0.8em;
  padding: 8px 0;
  margin-bottom: 40px;
}
.breadcrumbs a {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.98);
  text-decoration: underline;
}

/*	3. Navigation
/*--------------------------------------*/
header nav.desktop ul, header nav ul, footer nav.desktop ul, footer nav ul {
  padding: 0;
  margin: 0;
  float: left;
}
header nav.desktop ul li, header nav ul li, footer nav.desktop ul li, footer nav ul li {
  display: inline-block;
  margin: 0 5px 0 0;
}

header nav.desktop ul li {
  position: relative;
}

/* Drop Down */
header nav.desktop ul li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  width: 170px;
  top: 20px;
  border-top: 4px solid #c2d7e6;
  margin-top: 5px;
  background-color: white;
  z-index: 10000;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
header nav.desktop ul li ul li, header nav.desktop ul li ul li a {
  display: block;
  margin: 0;
}
header nav.desktop ul li ul li a {
  line-height: 1em;
  padding: 6px 0;
}
header nav.desktop ul li:hover ul, header nav.desktop .sub-menu.open {
  display: block;
  opacity: 1;
  visibility: visible;
}
header nav.desktop ul li.menu-item-has-children a:after {
  font-family: "Font Awesome 5 Free";
  content: "";
  color: rgba(0, 0, 0, 0.6);
  padding-left: 3px;
}
header nav.desktop ul li.menu-item-has-children ul.sub-menu a {
  padding-right: 0;
}
header nav.desktop ul li.menu-item-has-children ul.sub-menu a:after {
  content: none;
}
header nav.desktop a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
}
header nav.desktop a, header nav.desktop a:link {
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
header nav.desktop a:hover, header nav.desktop a:focus, header nav.desktop a:active {
  color: #014771;
}

/* Side Menu */
.col.side {
  width: 220px;
  margin-left: 80px;
}
.col.side .content {
  width: 220px;
}
.col.side li {
  list-style: none;
  margin: 0 0 5px 0;
  line-height: 1.2em;
}
.col.side ol, .col.side ul {
  margin-bottom: 25px;
}
.col.side nav.page-nav ul {
  padding: 0;
  margin: 0;
}
.col.side .widget_recent_entries li {
  margin: 0 0 10px 0;
  padding: 0;
}
.col.side .widget_recent_entries li a {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}
.col.side .btn {
  margin-bottom: 40px;
}
.col.side .sub-menu {
  display: none;
}
.col.side nav.page-nav .current_page_item .sub-menu,
.col.side nav.page-nav .current_page_parent .sub-menu {
  display: block;
  margin: 5px 0 0 30px;
}
.col.side .sub-menu li {
  list-style: disc;
}

.col-nav {
  width: 220px;
}
.col-nav li {
  list-style: none;
  margin-left: 0;
  line-height: 1.5em;
}
.col-nav ul + h3 {
  margin-top: 40px;
}

/*	4. Footer
/*--------------------------------------*/
footer {
  background-color: #0277bd;
  clear: both;
  margin-top: 60px;
  float: left;
  width: 100%;
  padding: 35px 0 40px 0;
  color: rgba(255, 255, 255, 0.98);
  font-size: 1em;
  line-height: 1.5em;
  /* Footer Nav */
}
footer nav a, footer nav a:link, footer nav a:visited {
  color: rgba(255, 255, 255, 0.98);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
}
footer nav .footer-nav {
  clear: left;
  float: left;
}
footer nav .social-links {
  clear: right;
  float: right;
}
footer nav .icon {
  margin: 0 0 0 10px;
  font-size: 1.7em;
}
footer nav li {
  padding: 0;
}
footer .search-form, footer .mobile-social-nav {
  display: none;
}
footer .copyright {
  padding-top: 50px;
  font-size: 0.8em;
}
footer .copyright .university-logo {
  float: left;
  margin-top: 5px;
  display: block;
}
footer .copyright .university-logo img {
  width: 100px;
  height: auto;
}
footer .copyright p {
  float: right;
  margin: 0;
  width: 87%;
}
footer .copyright .divider {
  margin: 0 5px;
}
footer .copyright .about-dept, footer .copyright .adr, footer .copyright .uc-copy {
  display: block;
}
footer .copyright a, footer .copyright a:link, footer .copyright a:visited {
  color: rgba(255, 255, 255, 0.98);
  text-transform: none;
  text-decoration: underline;
}

/*	5. Homepage
/*--------------------------------------*/
.home #hero {
  height: 550px;
  margin: 0 0 40px 0;
}
.home #hero .content {
  width: 100%;
  height: 550px;
  position: relative;
}
.home #hero .content.text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.home #hero .hero-description .content {
  width: 940px;
  position: static;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}
.home .hero-description {
  color: rgba(255, 255, 255, 0.98);
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px 0;
  position: absolute;
  bottom: 0;
}
.home .hero-description h2 {
  font-size: 4em;
  max-width: 940px;
  margin: 0 auto;
  font-weight: 600;
}
.home .hero-description p {
  font-size: 1.2em;
  max-width: 700px;
  margin: 0 auto;
  font-weight: normal;
}
.home .hero-description p a {
  color: white !important;
}
.home .hero-description .outline {
  margin-top: 35px;
  min-width: 106px;
}
.home .hero-description .left {
  text-align: left;
}
.home .hero-description .left p {
  margin: 0;
}
.home .hero-description .right {
  text-align: right;
}
.home .hero-description .right p {
  margin: 0;
  float: right;
  clear: both;
}
.home .hero-description .right button {
  float: right;
  clear: both;
}
.home .hero-description.middle {
  bottom: 12%;
}

.home .col {
  float: left;
}
.home .col ul, .home .col ol {
  margin: 0;
}
.home .col ul a, .home .col ol a {
  text-decoration: none;
}
.home .col li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.home .col p, .home .col span.description {
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 0.93em;
  line-height: 1.6em;
}
.home .col span.description {
  margin-bottom: 10px;
}
.home .col .category-list {
  display: block;
  line-height: 1em;
}
.home .col.one {
  width: 220px;
  padding: 0;
}
.home .col.two {
  width: 460px;
}
.home .col.three {
  width: 700px;
}
.home .col.page-col p {
  font-size: 1em;
}
.home .col.page-col.one p {
  font-size: 0.93em;
}
.home .col.news-col li, .home .col.events-col li {
  padding: 0;
  clear: both;
}
.home .col.news-col .category a, .home .col.events-col .category a {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.53);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.05em;
  display: inline-block;
  font-weight: 700;
}
.home .col.news-col img, .home .col.events-col img {
  margin: 3px 20px 20px 0;
  float: left;
}
.home .col.news-col.one .item, .home .col.events-col.one .item {
  width: auto;
}
.home .col.news-col.two .images .item, .home .col.events-col.two .images .item {
  float: left;
  width: 330px;
}
.home .col.news-col.two .images + .btn, .home .col.events-col.two .images + .btn {
  margin-left: 130px;
}
.home .col.news-col.three .images .item, .home .col.events-col.three .images .item {
  float: left;
  width: 570px;
}
.home .col.news-col.three .images + .btn, .home .col.events-col.three .images + .btn {
  margin-left: 130px;
}
.home .col.events-col .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: 0.8em;
}
.home .col.events-col .duration span {
  display: inline;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.home .col.events-col .category a {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.53);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.05em;
  display: inline-block;
  font-weight: 700;
}
.home .col.events-col .category + .category:before {
  content: ",";
  margin: 0 5px 0 0;
}
.home .col.events-col .item {
  margin-bottom: 20px;
}

.home .col + .col {
  margin: 0 0 0 20px;
  background-color: white;
}
.home .col + .col li {
  padding: 0;
}

/*	6. Person Page
/*--------------------------------------*/
.single-people .details span {
  display: inline;
}
.single-people .details span + span {
  margin-left: 20px;
}
.single-people .details p {
  margin-top: 0;
}
.single-people .col + .col {
  margin-top: 0;
}
.single-people article header {
  padding: 0;
}
.single-people article header img {
  display: none;
}
.single-people .bio {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}
.single-people .col-nav ul {
  margin-bottom: 40px;
}
.single-people .photo {
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
}
.single-people .circle {
  border-radius: 140px;
}
.single-people .rounded {
  border-radius: 70px;
}

.link .fas, .download .fas {
  font-size: 0.8em;
  margin-right: 5px;
}

/*	7. People Archive
/*--------------------------------------*/
/* Filters */
.page-template-page-people-listing .main header {
  text-align: center;
  float: left;
  clear: both;
  padding: 0;
}

.filter {
  clear: both;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.filter ul {
  padding: 0;
}
.filter li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.button-group {
  width: 100%;
  float: left;
}
.button-group button {
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 124px;
  letter-spacing: 0;
}
.button-group button + button {
  margin-left: 5px;
}
.button-group button.is-checked {
  background: #0277bd;
}
.button-group button.all {
  min-width: 100px;
}

.dropdown-filter {
  display: none;
}

/* People List */
.people-list {
  margin-top: 40px;
  padding: 0 9px;
  clear: both;
}
.people-list ul {
  margin: 30px 0;
  padding: 0;
}
.people-list li {
  list-style: none;
}
.people-list .person-item {
  display: block;
  float: left;
  padding: 15px 10px;
  margin: 0;
  width: 210px;
  height: 210px;
  text-align: center;
  line-height: 1.3em;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}
.people-list .person-item a {
  display: block;
}
.people-list .person-item.hover:active, .people-list .person-item.hover:hover, .people-list .person-item.hover:focus {
  background-color: rgba(0, 0, 0, 0.03);
}
.people-list .person-item.hover .name {
  color: #0277bd;
}
.people-list .person-item .photo {
  border: 7px solid white;
  width: 100px;
  height: 100px;
}
.people-list .person-item .circle {
  border-radius: 60px;
}
.people-list .person-item .rounded {
  border-radius: 25px;
}
.people-list .person-item dd {
  margin: 0;
  line-height: 1.6em;
}
.people-list .person-item .name {
  color: rgba(0, 0, 0, 0.87);
}
.people-list .person-item .interest {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.87);
}
.people-list .person-item .position {
  color: rgba(0, 0, 0, 0.53);
}
.people-list .person-item .email, .people-list .person-item .office, .people-list .person-item .office-hours, .people-list .person-item .phone {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.87);
}
.people-list .person-item .email a {
  font-size: 1em;
  display: inline-block;
}

/* Staff */
.people-list .staff li:hover {
  background: none;
}
.people-list .staff .name {
  color: rgba(0, 0, 0, 0.87);
}

/*	8. Books
/*--------------------------------------*/
/* General Styles */
.cover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  border: 3px solid rgba(255, 255, 255, 0.98);
}

.custom-cover {
  background-color: #b4b4b4;
  margin: 0 auto 0 auto;
}
.custom-cover .title {
  color: rgba(255, 255, 255, 0.98);
  font-weight: 600;
  text-align: center;
  display: block;
}

.publisher {
  display: block;
}

.book-list .title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}
.book-list dd.publisher {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
}
.book-list dd.author a {
  display: block;
  font-size: 0.8em;
  line-height: 16px;
}

/* People Page */
.single-people .book-list {
  float: left;
}
.single-people .book-list img, .single-people .book-list .custom-cover {
  float: left;
}
.single-people .book-list .custom-cover {
  width: 50px;
  height: 60px;
  padding: 20px 5px 10px 5px;
}
.single-people .book-list .custom-cover .title {
  font-size: 0.42em;
  line-height: 1em;
}
.single-people .book-list li {
  float: left;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 320px;
}
.single-people .book-list dl {
  margin-left: 15px;
  float: left;
  clear: none;
  width: 225px;
}
.single-people .book-list dt.title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}
.single-people .book-list dd {
  margin-bottom: 0;
}
.single-people .book-list dd.publisher {
  font-size: 12px;
  line-height: 12px;
  margin: 10px 0;
}
.single-people .book-list dd.author a {
  display: block;
  font-size: 0.8em;
  line-height: 16px;
}
.single-people .book-list dd.subtitle {
  font-style: italic;
  line-height: 0.8em;
}

/* Book Page */
.single-books .publisher {
  display: block;
  font-size: 0.8em;
  font-style: italic;
}
.single-books .author {
  margin-top: 20px;
  display: block;
}
.single-books .author p {
  display: inline;
}
.single-books .author-name + .author-name:before {
  content: ",";
  margin: 0 5px 0 -3px;
}
.single-books .custom-cover {
  width: 244px;
  height: 313px;
  line-height: 24px;
  padding: 60px 15px 10px 15px;
}
.single-books .custom-cover .title {
  font-size: 24px;
}
.single-books .content header {
  width: 100%;
}
.single-books .content header .cover {
  display: none;
}

/* Book Archive */
.post-type-archive-books h1 {
  text-align: center;
}
.post-type-archive-books .book-list {
  margin-top: 40px;
  clear: both;
}
.post-type-archive-books .book-list ul {
  padding: 0;
}
.post-type-archive-books .book-list li {
  display: inline-block;
  padding: 0;
  margin: 5px 21px;
  width: 190px;
  height: 280px;
  text-align: center;
  vertical-align: top;
}
.post-type-archive-books .book-list .custom-cover {
  width: 91px;
  height: 127px;
  line-height: 9px;
  padding: 20px 5px 10px 5px;
  margin-bottom: 12px;
}
.post-type-archive-books .book-list .custom-cover .title {
  font-size: 9px;
}
.post-type-archive-books .book-list dt.title {
  font-size: 1em;
  line-height: 1em;
  margin: 5px 0;
}
.post-type-archive-books .book-list dd.publisher {
  font-size: 0.8em;
  line-height: 0.8em;
  margin-bottom: 5px;
}
.post-type-archive-books .book-list dd.author a {
  display: block;
  font-size: 0.8em;
  line-height: 1.14em;
}
.post-type-archive-books .book-list a {
  text-decoration: none;
}

/*	9. Courses
/*--------------------------------------*/
/* Courses */
ul.course-list li {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
ul.course-list li p:first-of-type {
  margin-top: 0.5em;
}
ul.course-list h3 {
  font-size: 1.75em;
  line-height: 1.2em;
}

.instructor {
  display: inline;
}
.instructor + .instructor:before {
  content: ", ";
}

/*	10. Articles/Posts
/*--------------------------------------*/
.category article, .search-results article, .archive article {
  padding-bottom: 40px;
}
.category article + article, .search-results article + article, .archive article + article {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
}

.publish-date {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
}

/*	11. Other
/*--------------------------------------*/
.pagination li {
  display: inline-block;
}

.pagination {
  text-align: center;
  margin-top: 40px;
}

.instructors {
  display: block;
  margin-bottom: -20px;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

.content-subtitle {
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.6em;
  display: block;
}

.notice, .gform_confirmation_wrapper {
  width: 100%;
  margin: 2em 0;
  background: rgba(0, 0, 0, 0.03);
  border-top: 10px solid #347bad;
  padding: 10px 0;
}

.notice p, .notice h3 {
  padding: 0 25px;
}

.gform_confirmation_wrapper {
  padding: 10px 0 40px 0;
}
.gform_confirmation_wrapper .gform_confirmation_message {
  padding-left: 25px;
  padding-right: 25px;
}

/* Tables */
td, th {
  padding: 5px;
}

th {
  background-color: #c2d7e6;
}

tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.03);
}

tr:hover td {
  background-color: rgba(0, 0, 0, 0.06);
}

td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
}

/* FAQ/Accordion */
h5.topic {
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 0 10px 15px;
  margin: 0;
}
h5.topic button {
  background: none;
  color: #0277bd !important;
  padding: 0;
  margin-bottom: auto;
  letter-spacing: 0;
  line-height: 1.3em;
  text-align: left;
  border-radius: 0;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
h5.topic button:hover, h5.topic button:focus {
  background: none;
  color: #014771 !important;
}
h5.topic button:active {
  top: 0;
}
h5.topic button .fas {
  position: absolute;
  top: 2px;
  left: -15px;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
h5.topic button[aria-expanded=true] .fas {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

div.response + h5.faq {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

div.response {
  padding-left: 20px;
}
div.response p {
  margin: 0 0 1.5em 0;
}
div.response.animated-expandmore__to_expand {
  display: block;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: visibility 0s ease, max-height 0.8s ease, opacity 1s ease;
  -o-transition: visibility 0s ease, max-height 0.8s ease, opacity 1s ease;
  transition: visibility 0s ease, max-height 0.8s ease, opacity 1s ease;
  max-height: 100em;
  visibility: visible;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
div.response[data-hidden=true].animated-expandmore__to_expand {
  display: block;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-delay: 1s, 0s, 0s;
       -o-transition-delay: 1s, 0s, 0s;
          transition-delay: 1s, 0s, 0s;
}

h5.accordion {
  padding: 10px 10px 10px 30px;
  margin: 0;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
h5.accordion:hover {
  background: rgba(0, 0, 0, 0.06);
}
h5.accordion button {
  background: none;
  color: #0277bd !important;
  padding: 0;
  margin-bottom: auto;
  letter-spacing: 0;
  line-height: 1.3em;
  text-align: left;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
h5.accordion button:hover, h5.accordion button:focus {
  background: none;
  color: #014771 !important;
}
h5.accordion button:active {
  top: 0;
}
h5.accordion button .fas {
  font-size: 0.8em;
  left: -20px;
  top: 4px;
}
h5.accordion button[aria-expanded=true] .fas {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

div.response.accordion {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: none;
  padding: 0;
  margin-top: -2px;
}
div.response.accordion > * {
  margin: 1.5em 20px;
}
div.response.accordion + h5.accordion {
  border-top: none;
}
div.response.accordion[data-hidden=true] {
  padding: 0;
}

/* Images/Galleries/Fancybox */
article img {
  max-width: 100%;
  height: auto;
}

img.alignleft, figure.alignleft {
  float: left;
  margin: 15px 15px 15px 0;
}

img.alignright, figure.alignright {
  float: right;
  margin: 15px 0 15px 15px;
}

img.aligncenter, figure.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery .gallery-item {
  display: inline-block;
  vertical-align: top;
}
.gallery .gallery-item + .gallery-item {
  margin-left: 10px;
}
.gallery .gallery-caption {
  max-width: 150px;
  line-height: 16px;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}
.gallery .gallery-icon {
  min-height: 160px;
}

.fancybox-container .fancybox-toolbar {
  top: 60px;
}

/*	Color Palette
/*--------------------------------------*/
.color-block {
  width: 103px;
  height: 103px;
  float: left;
  text-align: center;
  line-height: 7em;
  margin: 0 1px;
}

.light-primary {
  background: #c2d7e6;
}

.primary {
  background: #347bad;
}

.dark-primary {
  background: #2b658e;
}

.light-secondary {
  background: #469ccf;
}

.secondary {
  background: #0277bd;
}

.dark-secondary {
  background: #014771;
}

.light {
  color: rgba(255, 255, 255, 0.98);
}

/*	Events
/*--------------------------------------*/
/* General */
#tribe-events .tribe-events-content p {
  line-height: 25px;
  margin: 1.5em 0;
}

.tribe-events-page-title {
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: 600;
}

#tribe-events, #tribe-events-pg-template, .tribe-events-pg-template {
  padding: 0;
}

/* Landing page */
.post-type-archive-tribe_events .col {
  width: 100%;
}

#tribe-events-content {
  width: 640px;
  margin: 0 auto;
}
#tribe-events-content.tribe-events-month {
  width: 940px;
  margin: 0 auto;
}
#tribe-events-content .tribe-events-loop .tribe-events-list-event-description p {
  margin: 0 0 20px;
}
#tribe-events-content .tribe-events-loop .tribe-events-event-meta {
  margin: 0 0 15px;
  font-weight: normal;
  font-size: 1em;
}
#tribe-events-content .tribe-events-loop .tribe-events-event-meta .tribe-event-schedule-details, #tribe-events-content .tribe-events-loop .tribe-events-event-meta .time-details {
  font-weight: bold;
  line-height: 1.6em;
}
#tribe-events-content .tribe-events-loop .tribe-events-event-meta .tribe-events-venue-details {
  margin: 0;
  font-style: italic;
  line-height: 1.6em;
}

.tribe-events-list .type-tribe_events {
  padding: 31px 0 40px 0;
}
.tribe-events-list .tribe-events-list-event-title {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}
.tribe-events-list .vevent.hentry {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 2px;
}
.tribe-events-list .type-tribe_events .wp-post-image {
  float: left;
  width: 20%;
  height: auto;
}
.tribe-events-list .type-tribe_events .wp-post-image + .event-content {
  width: 75%;
  float: right;
}

#tribe-bar-form {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 0 0 20px;
}
#tribe-bar-form label {
  font-size: 1em;
  margin-top: 5px;
}
#tribe-bar-form input[type=text] {
  font-weight: normal;
}
#tribe-bar-form #tribe-bar-views select, #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner, #tribe-bar-form #tribe-bar-views #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background-color: #eee !important;
}
#tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  background-color: #e0e0e0 !important;
}
#tribe-bar-form #tribe-bar-views .tribe-bar-views-toggle {
  color: rgba(0, 0, 0, 0.87) !important;
  letter-spacing: 0;
  border-radius: 0;
}
#tribe-bar-form .tribe-bar-submit {
  float: right !important;
  width: 160px;
  margin: 1px 20px 0 0;
}
#tribe-bar-form .tribe-bar-submit .tribe-events-button {
  margin-top: 10px !important;
  padding: 9px 0 !important;
  text-transform: none !important;
  font-size: 1em !important;
}

.datepicker-days thead {
  background-color: #c2d7e6;
}

/* Single events page */
.single-tribe_events h1.tribe-events-single-event-title {
  font-size: 3em;
  line-height: 1.1em;
}
.single-tribe_events .tribe-events-event-meta {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

#tribe-events-content .tribe-events-schedule {
  margin: 20px 0;
}
#tribe-events-content .tribe-events-venue-details {
  font-style: italic;
}
#tribe-events-content .tribe-events-event-meta .tribe-events-meta-group {
  width: 50%;
}
#tribe-events-content .tribe-events-event-meta .tribe-events-meta-group.tribe-events-meta-group-gmap {
  width: 100%;
}
#tribe-events-content .secondary .tribe-events-venue-map {
  width: 44%;
  margin: 20px 20px 20px 0;
}

.single-tribe_events .tribe-events-venue-map {
  margin: 0 auto;
}

.single-tribe_events .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap .tribe-events-venue-map {
  width: 98%;
}

#tribe-events-content a {
  text-decoration: underline;
}

/* Widget styles */
.tribe-events-list-widget .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: 0.85em;
}
.tribe-events-list-widget .duration span {
  display: inline;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.tribe-events-list-widget .tribe-events-widget-link {
  padding-left: 0;
}
.tribe-events-list-widget ol li.tribe-events-list-widget-events {
  margin-bottom: 10px;
  padding: 0;
}
.tribe-events-list-widget ol h4 {
  margin: 0;
  font-size: 0.9em;
  text-decoration: underline;
}
.tribe-events-list-widget ol a {
  text-decoration: none;
}

/* Featured Events */
.tribe-events-list-widget .tribe-event-featured {
  background: none;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured {
  background: none;
  padding: 31px 0 40px 0;
  margin-bottom: 0;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-meta, .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-content {
  color: rgba(0, 0, 0, 0.87);
}
.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title {
  margin-top: 0;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured a {
  color: #0277bd !important;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured a:hover, .tribe-events-list .tribe-events-loop .tribe-event-featured a:focus, .tribe-events-list .tribe-events-loop .tribe-event-featured a:active {
  color: #014771 !important;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured a:visited {
  color: #014771 !important;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured a.tribe-events-read-more {
  color: white !important;
}

/*	Slider
/*--------------------------------------*/
.bx-wrapper {
  height: 550px !important;
  position: relative;
  margin: 0 auto 40px;
  padding: 0;
  *zoom: 1;
  float: left;
  clear: both;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

#bxslider {
  margin-top: 0;
}

#slider {
  width: 100%;
  float: left;
  clear: both;
  margin: 0;
}
#slider li {
  height: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
#slider .bg {
  width: 100%;
  height: 550px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#slider .slider-content a {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: normal;
}
#slider .slider-content p {
  font-size: 12px;
  line-height: 18px;
}
#slider .content {
  margin: 0 auto;
}
#slider .hero-description {
  width: auto;
}
#slider .hero-description .content {
  float: left;
}

@media only screen and (min-width: 961px) and (max-width: 1120px) {
  #slider .hero-description {
    width: 80% !important;
    left: 0;
    right: 0;
  }
  #slider .hero-description h2 {
    width: 100%;
  }
  #slider .hero-description p {
    width: 100%;
  }
  #slider .hero-description .content {
    width: 100% !important;
  }
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  background: url(../images/arrow-left.png) no-repeat center left;
  left: 50px;
  opacity: 0.5;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}

.bx-wrapper .bx-next {
  background: url(../images/arrow-right.png) no-repeat center right;
  right: 50px;
  opacity: 0.5;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}

.bx-wrapper .bx-prev:hover {
  opacity: 1;
}

.bx-wrapper .bx-next:hover {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 42%;
  outline: 0;
  width: 55px;
  height: 90px;
  z-index: 9999;
  text-indent: -9999px;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* PAGER */
.bx-wrapper .bx-pager {
  padding-top: 0px;
  margin-top: -40px;
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: transparent;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border: 1px white solid;
  border-radius: 10px;
  -webkit-transition: background-color 0.24s ease-in-out;
  -o-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: white;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/*	Conferences
/*--------------------------------------*/
.single-conference {
  /* Google Map */
}
.single-conference #hero {
  height: auto;
  margin-bottom: 0;
}
.single-conference .overlay {
  background-color: rgba(1, 71, 113, 0.7);
  float: left;
  clear: both;
  width: 100%;
}
.single-conference .site-link {
  background: #014771 url("../images/thin-arrow-left.png") no-repeat 20px center;
  display: inline-block;
  padding: 10px 25px 10px 45px;
  color: rgba(255, 255, 255, 0.98);
  position: absolute;
}
.single-conference .col {
  float: none;
  margin: 0 auto;
}
.single-conference header.top {
  color: rgba(255, 255, 255, 0.98);
  text-align: center;
}
.single-conference header.top h2 {
  line-height: 1em;
}
.single-conference header.top nav.desktop, .single-conference header.top nav.desktop ul {
  width: 940px;
  float: none;
}
.single-conference header.top nav.desktop a {
  font-size: 1em;
}
.single-conference header.top .current_page_item a {
  border-bottom: 2px solid #014771;
}
.single-conference header.top nav.mobile {
  display: none;
}
.single-conference .landing header.top .content {
  padding-top: 130px;
}
.single-conference .landing header.top h1 {
  font-size: 7em;
  line-height: 1em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.98);
  display: block;
  margin: 0 auto;
}
.single-conference .landing header.top h1.large {
  font-size: 7em;
}
.single-conference .landing header.top h1.medium {
  font-size: 5em;
}
.single-conference .landing header.top h1.small {
  font-size: 3em;
}
.single-conference .landing header.top .subtitle {
  font-size: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
.single-conference .landing header.top nav.desktop a {
  color: rgba(255, 255, 255, 0.98);
}
.single-conference .landing header.top .details {
  font-size: 1.5em;
  margin: 30px 0 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.98);
}
.single-conference .landing header.top .details p {
  margin: 1em 0;
}
.single-conference .landing header.top .details a {
  color: rgba(255, 255, 255, 0.98);
  text-decoration: underline;
}
.single-conference .landing header.top a.btn {
  font-size: 1.5em;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.98);
  padding: 10px 45px;
  margin: 0 0 60px 0;
  border-radius: 0;
  background: none;
}
.single-conference .landing header.top a.btn:hover, .single-conference .landing header.top a.btn:focus {
  background: #0277bd;
  color: rgba(255, 255, 255, 0.98);
}
.single-conference .not-landing header.top h2 {
  font-size: 3em;
  font-weight: 900;
  display: block;
  margin: 20px auto 0 auto;
}
.single-conference .not-landing header.top nav.desktop a, .single-conference .not-landing header.top .content a {
  color: #014771;
}
.single-conference .not-landing #hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  float: left;
  clear: both;
  margin: 0;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
}
.single-conference .schedule {
  margin-bottom: 30px;
  float: left;
  clear: both;
}
.single-conference .schedule h6 {
  margin-top: 0;
}
.single-conference .schedule li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  list-style: none;
  padding: 20px 0;
  margin: 0;
  float: left;
  clear: both;
}
.single-conference .schedule .time {
  width: 120px;
  float: left;
  clear: left;
}
.single-conference .schedule .session {
  width: 500px;
  margin-left: 20px;
  float: right;
  clear: right;
}
.single-conference .schedule p {
  margin: 1em 0;
}
.single-conference ul.speakers {
  float: left;
}
.single-conference ul.speakers li {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  float: left;
  width: 100%;
}
.single-conference ul.speakers li img {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  float: left;
}
.single-conference ul.speakers .circle {
  border-radius: 140px;
}
.single-conference ul.speakers .rounded {
  border-radius: 70px;
}
.single-conference ul.speakers .speaker-details {
  width: 460px;
  float: left;
}
.single-conference ul.speakers .speaker-details h4 {
  margin-top: 0;
}
.single-conference ul.speakers .speaker-details.full {
  width: 100%;
}
.single-conference .map {
  width: 100%;
  height: 600px;
  margin: 0;
}
.single-conference .map img {
  max-width: inherit !important;
}

@media only screen and (max-width: 960px) {
  .single-conference .landing #hero {
    display: block;
  }
  .single-conference .landing header.top {
    font-size: 0.8em;
  }
  .single-conference .landing header.top h1, .single-conference .landing header.top h2 {
    width: 90%;
  }
  .single-conference .landing header.top nav.mobile {
    display: block;
    font-size: 1.3em;
  }
  .single-conference .landing header.top nav.mobile a {
    color: rgba(255, 255, 255, 0.98);
  }
  .single-conference .landing header.top nav.mobile ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .single-conference .landing header.top nav.mobile ul li {
    display: block;
    margin: 0 10px 0 0;
  }
  .single-conference .not-landing #hero {
    display: none;
  }
  .single-conference .not-landing header.top {
    padding-top: 50px;
  }
  .single-conference .not-landing header.top h2 {
    line-height: 1em;
  }
  .single-conference .not-landing header.top nav.desktop, .single-conference .not-landing header.top nav.desktop ul {
    display: block;
    width: 100%;
  }
  .single-conference .not-landing header.top nav.desktop ul li {
    display: block;
    margin: 0 10px 0 0;
  }
  .single-conference .col {
    max-width: 700px !important;
    margin: 0 auto !important;
    float: none !important;
  }
  .single-conference .schedule {
    width: 100%;
  }
  .single-conference .schedule .session, .single-conference .schedule li {
    width: 100%;
    float: none;
    clear: none;
  }
  .single-conference ul.speakers li img {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px auto;
    display: block;
    float: none;
  }
  .single-conference ul.speakers .speaker-details {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 960px) {
  /* ==========================================================================
  	Mobile Screen Sizes

  	Table of Contents

  	1. Main Containers
  	2. Header
  	3. Navigation
  	4. Footer
  	5. Homepage
  	6. Slider
  	7. People Archive
  	8. Person Page
  	9. Books
  	10. Events
  	11. Forms
  	12. Typography
  	13. Other
  	14. Posts & Content Styles
  	15. Pagination

  	========================================================================== */
  /*	1. Main Containers
  /*--------------------------------------*/
  body {
    font-size: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  .content, header {
    margin: 0 auto;
    float: none;
    width: 100%;
  }

  .col, #main-content .content {
    width: 95% !important;
    margin: 0 auto;
    float: none;
  }

  #main-content {
    margin-bottom: 30px;
  }

  #hero {
    display: none;
  }

  /*	2. Header
  /*--------------------------------------*/
  header .university-logo, .give-back, header .search-form {
    display: none !important;
  }

  header {
    padding: 10px 0 10px 0;
  }
  header.top .dept-logo {
    width: 100%;
    height: auto;
    text-align: center;
  }
  header.top .dept-logo img {
    width: 95%;
  }
  header.top nav {
    float: none;
  }
  header .logos {
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
  }

  .breadcrumbs {
    margin-bottom: 20px;
  }
  .breadcrumbs .content {
    width: 95%;
  }

  /*	3. Navigation
  /*--------------------------------------*/
  header nav.desktop {
    display: none;
  }

  body #mg-wprm-wrap {
    border-right: 1px solid #eee;
    background-color: white !important;
    -webkit-box-shadow: 18px 0px 7px -3px rgba(0,0,0,0.17);
    box-shadow: 18px 0px 7px -3px rgba(0,0,0,0.17);
  }

  #wprmenu_bar {
    background-color: #0277bd !important;
  }
  #wprmenu_bar .menu_title a {
    color: rgba(255, 255, 255, 0.98) !important;
    text-decoration: none;
    top: 0;
  }

  div#mg-wprm-wrap ul li {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  div#mg-wprm-wrap ul li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  }
  div#mg-wprm-wrap ul li span.wprmenu_icon::before {
    color: rgba(0, 0, 0, 0.87);
  }
  div#mg-wprm-wrap ul li a {
    color: rgba(0, 0, 0, 0.87);
  }
  div#mg-wprm-wrap ul li a:hover {
    color: #0277bd !important;
  }
  div#mg-wprm-wrap ul.sub-menu {
    padding-bottom: 10px !important;
  }
  div#mg-wprm-wrap li.menu-item ul.sub-menu li.menu-item a {
    padding: 10px 15px;
  }

  #wprmenu_menu input[type=search] {
    background-image: none;
    border-radius: 20px;
    font-size: 1em;
    padding: 5px 40px 5px 10px !important;
  }

  /* Secondary Navigaion */
  .col.side .content {
    width: 100%;
    margin: 0 auto;
    float: none;
  }

  .col.side.feed {
    width: 95% !important;
    margin: 0 auto;
  }

  .col + .col {
    width: 95 !important;
    margin: 0 auto;
  }
  .col + .col nav.page-nav h3 {
    border-bottom: none;
    margin-bottom: 0;
  }
  .col + .col nav.page-nav a {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 0;
    display: block;
  }
  .col + .col nav.page-nav li {
    margin: 0;
  }

  /*	4. Footer
  /*--------------------------------------*/

  /*	5. Homepage
  /*--------------------------------------*/

  /*	6. Slider
  /*--------------------------------------*/

  /* Direction Controls (Next / Prev) */

  /* Pager */

  /*	7. People Archive
  /*--------------------------------------*/
  /* Filters */

  /* People List */

  /*	8. Person Page
  /*--------------------------------------*/

  /*	9. Books
  /*--------------------------------------*/
  /* People Page */

  /* Book Page */

  /*	10. Events
  /*--------------------------------------*/

  /* Single events page */

  /*	11. Forms
  /*--------------------------------------*/

  /*	12. Typography
  /*--------------------------------------*/

  /*	13. Other
  /*--------------------------------------*/

  /*	14. Posts & Content Styles
  /*--------------------------------------*/

  /*	15. Pagination
  /*--------------------------------------*/
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .single .breadcrumbs + .content, .archive .breadcrumbs + .content, .page .breadcrumbs + .content {
    width: 95%;
  }
  .single .col, .archive .col, .page .col {
    max-width: 65%;
    float: left;
    margin: 0 15px 0 0;
  }
  .single #main-content .content, .archive #main-content .content, .page #main-content .content {
    max-width: 65%;
    float: left;
    margin: 0 15px;
  }
  .single .col.side, .archive .col.side, .page .col.side {
    width: 220px !important;
    margin: 0 0 0 20px !important;
    float: right;
  }
  .single .col.side.feed, .archive .col.side.feed, .page .col.side.feed {
    width: 220px !important;
    margin: 0 auto;
  }

  .post-type-archive-tribe_events .col {
    width: 100% !important;
    max-width: 100%;
    margin: 0 auto;
  }

  .col + .col nav.page-nav h3 {
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  }
  .col + .col nav.page-nav a {
    border-top: none;
    padding: 0;
    display: block;
  }
  .col + .col nav.page-nav a:hover {
    background: none;
  }
}
@media only screen and (max-width: 960px) {
  footer {
    margin-top: 0px;
  }
  footer nav {
    display: none;
  }
  footer nav .footer-nav {
    display: none;
  }
  footer nav .icon {
    margin: 0 3px;
    font-size: 2.1em;
  }
  footer .mobile-social-nav {
    display: block;
    margin: 10px 0;
  }
  footer .mobile-social-nav .social-links {
    clear: both;
    float: none;
    width: 100%;
    text-align: center;
  }
  footer .copyright {
    padding-top: 10px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  footer .copyright p {
    width: 100%;
    margin: 0;
    float: none;
  }
  footer .copyright .university-logo {
    float: none;
    margin-top: 50px;
  }
  footer .copyright .street-address, footer .copyright .tel, footer .copyright .fax, footer .copyright .email {
    display: inline-block;
  }
}
@media only screen and (max-width: 960px) and (max-width: 600px) {
  footer .copyright .street-address, footer .copyright .tel, footer .copyright .fax, footer .copyright .email {
    display: block;
  }
  footer .copyright .value, footer .copyright .locality, footer .copyright .postal-code {
    display: inline;
  }
  footer .copyright .divider {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  footer .search-form {
    width: 301px;
    margin: 0 auto 20px auto;
    display: block;
  }
  footer .search-form .search-btn {
    top: -1px;
    right: 15px;
  }
  footer .search-form .search-btn:active {
    top: 1px;
  }
}
@media only screen and (max-width: 960px) {
  footer input[type=search] {
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    max-width: 280px;
    background: white;
    display: block;
  }
}
@media only screen and (max-width: 960px) {
  .home #hero {
    display: block;
    height: 400px;
    margin: 0 0 40px 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  }
  .home #hero .content {
    width: 100% !important;
    height: 400px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .home #hero .hero-description {
    width: 95%;
    padding: 0 0 30px 0;
    left: 0;
    right: 0;
  }
  .home #hero .hero-description h2 {
    font-size: 2em;
    line-height: 1.1em;
  }
  .home #hero .hero-description p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 960px) {
  .home .col {
    width: 100% !important;
    float: left;
    margin: 0 auto 30px auto;
  }
  .home .col ul, .home .col ol {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
  }
  .home .col.news-col li, .home .col.events-col li {
    padding: 0;
    margin: 0;
    clear: both;
    list-style: none;
  }
  .home .col.news-col .item, .home .col.events-col .item {
    float: none;
    width: 100%;
  }
  .home .col.news-col .btn, .home .col.events-col .btn {
    margin-left: 0;
    margin-top: -5px;
  }
  .home .col.news-col img, .home .col.events-col img {
    margin-right: 2%;
    width: 15%;
  }
  .home .col.news-col.two .item, .home .col.events-col.two .item {
    width: auto;
  }
  .home .col.news-col.two .btn, .home .col.events-col.two .btn {
    margin-left: 0;
  }
  .home .col.news-col.two .images .item, .home .col.events-col.two .images .item {
    float: left;
    width: 83%;
  }
  .home .col.news-col.two .images + .btn, .home .col.events-col.two .images + .btn {
    margin-left: 17%;
  }
  .home .col.news-col.three .images .item, .home .col.events-col.three .images .item {
    float: left;
    width: 83%;
  }
  .home .col.news-col.three .images + .btn, .home .col.events-col.three .images + .btn {
    margin-left: 17%;
  }
}
@media only screen and (max-width: 960px) and (max-width: 500px) {
  .home .col.news-col img, .home .col.events-col img {
    display: none;
  }
  .home .col.news-col.two .images .item, .home .col.events-col.two .images .item {
    float: left;
    width: 100%;
  }
  .home .col.news-col.two .images + .btn, .home .col.events-col.two .images + .btn {
    margin-left: 0;
  }
  .home .col.news-col.three .images .item, .home .col.events-col.three .images .item {
    float: left;
    width: 100%;
  }
  .home .col.news-col.three .images + .btn, .home .col.events-col.three .images + .btn {
    margin-left: 0;
  }
}
@media only screen and (max-width: 960px) {
  .home .col p, .home .col span.description {
    padding: 0;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    display: block;
  }
}
@media only screen and (max-width: 960px) {
  .home .col.events-col li {
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .home .col + .col {
    width: 100% !important;
    margin: 0 auto 30px auto;
    background-color: white;
    padding: 0;
  }
  .home .col + .col li {
    padding: 0;
    border: none;
  }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 799px) {
  .home .col {
    width: 100% !important;
  }
  .home .col ul, .home .col ol {
    width: 100% !important;
    float: left;
    margin-bottom: 0;
  }
  .home .col ol {
    margin-bottom: 5px;
  }
  .home .col img {
    display: block;
    float: left;
    clear: left;
    width: 20%;
    height: auto;
  }
  .home .col li {
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    clear: both;
    float: left;
  }
  .home .col li .item {
    float: left;
    width: 75%;
    clear: right;
  }
  .home .col .btn {
    clear: both;
  }
  .home .col.events-col {
    margin-bottom: 30px !important;
  }
  .home .col span.description {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .home .col {
    width: 100% !important;
    max-width: 100% !important;
    float: left;
    margin: 0;
  }
  .home .col span.description {
    margin-bottom: 20px;
  }
  .home .col + .col {
    width: 100% !important;
    float: left;
    margin: 30px 0 0 0;
  }
  .home #main-content .content {
    max-width: 100% !important;
    margin: 0 auto !important;
    float: none !important;
  }
}
@media only screen and (max-width: 960px) {
  .bx-wrapper {
    height: 400px !important;
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  #slider {
    margin-top: 0;
  }
  #slider .hero-description {
    width: 75% !important;
    padding: 0 0 30px 0;
    left: 0;
    right: 0;
  }
  #slider .hero-description h2 {
    font-size: 2em;
    line-height: 1.1em;
  }
  #slider .hero-description p {
    font-size: 1em;
  }
  #slider .hero-description .content {
    width: 100% !important;
  }
}
@media only screen and (max-width: 960px) {
  #slider {
    width: 100%;
  }
  #slider li, #slider .bg {
    height: 400px;
  }
}
@media only screen and (max-width: 960px) {
  .bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/mobile-arrow-left.png) no-repeat;
  }
  .bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/mobile-arrow-right.png) no-repeat;
  }
  .bx-wrapper .bx-controls-direction a {
    width: 23px;
    height: 40px;
  }
}
@media only screen and (max-width: 960px) {
  .bx-pager {
    float: right;
  }
}
@media only screen and (max-width: 960px) {
  .filter, .filter-title {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .archive .content header {
    text-align: left;
    width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) {
  .dropdown-filter {
    display: block;
    width: 95%;
    margin: 20px auto;
  }
  .dropdown-filter select {
    max-width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .people-list {
    margin: 20px auto 0 auto;
    padding: 0;
    width: 100%;
  }
  .people-list ul {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 960px) {
  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 100%;
    height: auto;
    text-align: left;
  }
  .people-list .person-item .photo {
    float: left;
    margin: 0 15px;
  }
  .people-list .person-item dl {
    min-height: 107px;
    padding-top: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 960px) and (min-width: 700px) and (max-width: 799px) {
  .filter, .filter-title {
    display: block;
  }

  .dropdown-filter {
    display: none;
  }

  .archive .content header {
    text-align: center;
    width: 100%;
  }

  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 50%;
    height: auto;
    text-align: left;
  }
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .filter, .filter-title {
    display: block;
  }

  .dropdown-filter {
    display: none;
  }

  .archive .content header {
    text-align: center;
    width: 100%;
  }

  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 33%;
    height: auto;
    text-align: center;
  }
  .people-list .person-item .photo {
    float: none;
    margin: 0 15px;
  }
}
@media only screen and (max-width: 960px) {
  .single-people .details span {
    display: block;
  }
  .single-people .details span + span {
    margin-left: 0;
  }
  .single-people .details p {
    margin-top: 0px;
  }
  .single-people article header {
    text-align: center;
  }
  .single-people article header img {
    display: block;
  }
  .single-people article header h1 {
    margin-bottom: 15px;
  }
  .single-people .col + .col {
    margin-top: 0;
    width: 95% !important;
  }
  .single-people .col + .col img {
    display: none;
  }
  .single-people .col + .col .table-of-contents {
    display: none;
  }
  .single-people .photo {
    margin: 0 auto 25px auto;
  }
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .single-people article header {
    text-align: left;
  }
  .single-people article header img {
    display: none;
  }
  .single-people .col {
    max-width: 65%;
  }
  .single-people #main-content .content {
    max-width: 65%;
    float: left;
    margin: 0 15px;
  }
  .single-people .col + .col {
    margin-top: 0;
    width: 220px !important;
    float: right;
  }
  .single-people .col + .col img {
    display: block;
    width: 90%;
    height: auto;
  }
  .single-people .col + .col .table-of-contents {
    display: block;
  }
}
@media only screen and (max-width: 960px) {
  .single-people .book-list {
    float: none;
  }
  .single-people .book-list img, .single-people .book-list .custom-cover {
    float: left;
    margin-right: 15px;
  }
  .single-people .book-list li {
    float: left;
    width: 100%;
    display: block;
  }
  .single-people .book-list dl {
    margin-left: 15px;
    float: none;
    clear: none;
    width: auto;
  }
  .single-people .book-list dt.title {
    font-size: 1em;
  }
  .single-people .book-list dd.subtitle {
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 960px) {
  .single-books .content header .cover {
    display: block;
    margin: 15px auto;
    width: 190px;
    height: auto;
  }
  .single-books .content header .custom-cover.cover {
    width: 160px;
    height: 205px;
  }
  .single-books .content header .custom-cover .title {
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;
  }
  .single-books .col + .col .cover {
    display: none;
  }
  .single-books .author {
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 960px) and (max-width: 460px) {
  .post-type-archive-books .book-list ul {
    text-align: center;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-events,
#tribe-events-content,
#tribe-events-content.tribe-events-month,
.archive.post-type-archive-tribe_events #main-content.col {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) and (min-width: 800px) and (max-width: 960px) {
  .archive.post-type-archive-tribe_events #main-content.col {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-events-pg-template {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 960px) {
  .tribe-events-sub-nav {
    margin-top: 15px !important;
  }
}
@media only screen and (max-width: 960px) {
  .tribe-events-last {
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  .post-type-archive-tribe_events .breadcrumbs + .content {
    float: left;
    width: 100%;
  }
  .post-type-archive-tribe_events.archive .col {
    max-width: 100%;
    float: none;
  }
  .post-type-archive-tribe_events #tribe-events {
    margin-top: 20px !important;
  }
}
@media only screen and (max-width: 960px) {
  .datepicker thead th {
    border-radius: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-bar-form {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  .tribe-events-schedule {
    margin: 15px 0 !important;
  }
  .tribe-events-schedule p {
    margin: 0;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-events-content .tribe-events-event-meta .tribe-events-meta-group {
    width: 100%;
  }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 799px) {
  #tribe-events-content.col, #tribe-events .col.side.feed {
    width: 100% !important;
  }
}
@media only screen and (max-width: 960px) {
  #tribe-events-content .secondary .tribe-events-venue-map, .tribe-events-meta-group-gmap {
    width: 92% !important;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 20px;
    float: none;
  }
}
@media only screen and (max-width: 960px) {
  .tribe-events-venue-map {
    border: none !important;
  }
}
@media only screen and (max-width: 960px) {
  .tribe-events-venue-map {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  .single-tribe_events .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap .tribe-events-venue-map,
.tribe-events-meta-group.tribe-events-meta-group-gmap {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 960px) and (max-width: 770px) {
  .tribe-events-venue-map, .events-meta-group-gmap {
    margin-bottom: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  .single-tribe_events #tribe-events-content {
    float: left;
  }
}
@media only screen and (max-width: 960px) {
  article form {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 960px) {
  input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=color],
select,
textarea,
.field {
    padding: 0 10px;
    width: 93%;
    max-width: 500px;
  }
}
@media only screen and (max-width: 960px) {
  textarea {
    width: 94%;
  }
}
@media only screen and (max-width: 960px) {
  select {
    width: 100%;
    max-width: 525px;
  }
}
@media only screen and (max-width: 960px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    text-rendering: optimizelegibility;
  }
}
@media only screen and (max-width: 960px) {
  .home .col h3, .col + .col h3 {
    font-size: 1.35em;
  }
}
@media only screen and (max-width: 960px) {
  p {
    clear: both;
  }
}
@media only screen and (max-width: 960px) {
  blockquote {
    padding: 1px 22px 1px 22px;
    font-size: 1.2em;
    margin: 30px 0;
  }
}
@media only screen and (max-width: 960px) {
  a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 960px) {
  .alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image {
    float: none;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .wp-caption {
    max-width: 100%;
  }
  .wp-caption img {
    max-width: 100%;
    height: auto;
  }
  .wp-caption .wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
  }
}
@media only screen and (max-width: 960px) {
  .gallery .gallery-item {
    margin: 10px;
    width: 100px;
  }
  .gallery .gallery-icon {
    min-height: 120px;
  }
  .gallery br {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .color-block {
    margin: 1px;
  }
}
@media only screen and (max-width: 960px) {
  .fixclear:after {
    overflow: auto;
  }
}
@media only screen and (max-width: 960px) {
  article header {
    padding: 0;
  }
}
@media only screen and (max-width: 960px) {
  .entry-content table {
    margin-bottom: 1.5em;
  }
  .entry-content .size-auto,
.entry-content .size-full,
.entry-content .size-large,
.entry-content .size-medium,
.entry-content .size-thumbnail {
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 960px) {
  .pagination, .wp-prev-next {
    margin: 1.5em 0;
  }
}
@media only screen and (max-width: 960px) {
  .pagination {
    text-align: center;
  }
  .pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
  }
  .pagination li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
  }
  .pagination a, .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
  }
  .pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
    background-color: #0277bd;
    color: rgba(255, 255, 255, 0.98);
  }
  .pagination .current {
    cursor: default;
    color: rgba(0, 0, 0, 0.87);
  }
  .pagination .current:hover, .pagination .current:focus {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
  }
}
@media only screen and (max-width: 960px) {
  .wp-prev-next .prev-link {
    float: left;
  }
  .wp-prev-next .next-link {
    float: right;
  }
}
@media print {
  /* ==========================================================================
  	Print Stylesheet
  	========================================================================== */
  /* Good Defaults */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 1.5cm 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }

  .sidebar,
.page-navigation,
.wp-prev-next,
.respond-form,
nav {
    display: none;
  }

  /* Custom Styles */
  footer .copyright, footer .copyright p {
    margin: 0;
  }

  footer {
    margin-top: 0;
  }

  header a:after,
a[href^="http://ucla.edu"]:after,
.tribe-events-cal-links a:after {
    content: none;
  }

  #main-content {
    width: 100%;
  }

  .give-back,
header form,
footer img,
#hero,
#slider,
.side,
#tribe-events-bar {
    display: none;
  }

  dl.faq dd {
    display: block !important;
  }
}